@import './mixins';
@import './smart-grid';

.advantages {
    @include content-padding();

    .row {
        justify-content: space-around;
        margin-top: 50px;
    }

    .item {
        @include col();
        @include size(12);
        @include size-xs(24);

        display: flex;
        max-width: 400px;
        align-items: center;
        margin-bottom: 65px;

        .icon {
            width: 100px;
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: 10px;
        }

        .title {
            font-size: 25px;
            color: #5700FF;
            margin-bottom: 15px;
        }

        .text {
            font-size: 17px;
        }

        @include xs-block {
            margin-bottom: 30px;

            .icon {
                width: 70px;
            }

            .title {
                font-size: 19px;
                margin-bottom: 5px;
            }

            .text {
                font-size: 14px;
            }
        }
    }
}

.text-secondary {
    color: #5700FF;
}

.catalog {
    @include content-padding();

    .row {
        justify-content: space-around;
        margin-top: 40px;
    }


    .card {
        max-width: 90%;
        width: 300px;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        position: relative;

        perspective: 1500px;

        &:hover .front {
            transform: rotateY(180deg);
        }

        &:hover .back {
            transform: rotateY(0deg);
        }
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .front, .back {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s ease-in-out;
        box-shadow: 0 1.5rem 5rem rgba($color: #000000, $alpha: 0.2);
    }

    .front {
        background: rgb(235, 235, 235);
        color: #333;
        padding-top: 20px;
    }

    .back {
        position: relative;
        background: #fff;
        transform: rotateY(180deg);

        .img {
            height: 200px;
            background: linear-gradient(to right bottom,#0183fc,#5643fa), url(../img/bot.jpg) no-repeat center center;
            background-size: cover;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        .title {
            position: absolute;
            text-align: right;
            text-transform: uppercase;
            color: white;
            top: 140px;
            right: 10px;
            font-weight: lighter;
            font-size: 21px;

            span {
                padding: 5px;
                box-decoration-break: clone;
                background-image: linear-gradient(to right bottom,rgba(41,152,255,.8),rgba(86,67,250,.8));
            }
        }


        p {
            font-size: 19px;
        }

        ul {
            list-style: none;
            text-align: center;
            color: #777;
            padding-bottom: 1rem;
            width: 80%;
            margin: 0 auto;
            margin-top: 20px;
        }

        li {
            padding: 10px;
            font-size: 16px;

            &:not(:last-of-type) {
                border-bottom: 1px solid #eeee;
            }
        }
    }

    @include sm-block {
        &:hover .back, &:hover .front {
            transform: none;
        }
        .front {
            display: none;
        }
        .back {
            transform: none;
        }
    }
}

.work-process {
    @include content-padding();

    .title-primary {
        text-align: left;
    }

    .row {
        padding: 30px 0;
    }

    .stage {
        @include col();
        @include size(6);
        @include size-md(12);
        @include size-xs(24);

    }

    .stage-icon {
        margin-bottom: 30px;
        position: relative;
        img {
            width: 70px;
        }


        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            height: 6px;
            background: rgba(223,229,233,.7);
            left: 40%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
        }
    }

    .stage:hover .stage-title {
        color: #0081ff;
    }

    .stage-title {
        font-size: 20px;
        line-height: 1.4em;
        margin-bottom: 18px;
        transition: all .3s;
        color: #252525;
        font-family: Montserrat;
        font-weight: 600;
    }
    .stage-text {
        color: #636363;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.valuation {
    @include content-padding();
    .row {
        margin-top: 50px;
    }
    .left, .right {
        @include col();
        @include size(12);
        @include size-sm(24);
    }

    .left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;

        img {
            width: 400px;
        }
    }


    &-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &-item {
        padding: 30px 0;
        padding-left: 100px;
        box-sizing: border-box;
        position: relative;
    }

    &-title {
        color: #252525;
        font-size: 20px;
        line-height: 1.4em;
        transition: all .3s;
        font-family: Montserrat;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &-desc {
        color: #636363;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
    }

    // Media queries

    @include sm-block {
        .left {
            justify-content: center;
        }

        &-icon {
            width: 60px;
            height: 60px;
        }

        &-item {
            padding: 20px 0;
            padding-left: 80px;
        }
    }
}